{block title}Koncerty{/block}

{block heading}
<h1 id="koncerty" class="link-target">Koncerty</h1>
{/block}

{block mininav}
<li>
    <a href="#koncerty">Koncerty</a>
</li>
{include #parent}
{/block}


{block content}

{control grid}
{/block}