{block title}Přihlášení{/block}

{block heading}
<h1 id="prihlasit" class="link-target">Přihlášení</h1>
{/block}

{block mininav}
<li>
    <a href="#prihlasit">Přihlášení</a>
</li>
{/block}

{block content}

{control signInForm}
