{block title}Video{/block}

{block heading}
<h1 id="video" class="link-target">Video</h1>
{/block}

{block mininav}
<li>
    <a href="#video">Video</a>
</li>
{/block}


{block content}

{control examplesGrid}
{/block}