common:
    parameters:
        database:
            host: 127.0.0.1
            user: root
            password:
            dsn: 'mysql:host=%database.host%'

    services:
        cacheStorage:
            factory: Nette\Caching\Storages\DevNullStorage
    security:
        users:
            jamesbond: 007
development < common:

production < common:

