common:
    parameters:
        database:
            host: mysql-master
            dbname: bbb_test_bigbandbiskupska
            user: root
            password: root
            dsn: 'mysql:host=%database.host%'

    services:
        cacheStorage:
            factory: Nette\Caching\Storages\DevNullStorage
    security:
        users:
            jamesbond: 007
development < common:

production < common:

