common:
    parameters:
        google:
            maps:
                APIkey: apikey
        flickr:
            concertAlbum: xxxx
            user: uknown_user
            APIkey: apikey
        database:
            host: localhost
            dbname: bbb_bigbandbiskupska
            user: root
            password:
            dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'

development < common:

production < common:
