{if $step == 1}
{control step1}
{elseif $step == 2}
{control step2}
{else}
<div class="alert alert-danger">Neznámý krok, pokračujte <a href="{plink this}" title="Import repertoáru">zde</a></div>
{/if}