{block title}Import repertoáru{/block}

{block heading}
<h1 id="import" class="link-target">Import</h1>
{/block}

{block mininav}
<li>
    <a href="#import">Import repertoáru</a>
</li>
{/block}


{block content}

{control import}
{/block}