{block title}Členové{/block}

{block heading}
<h1 id="clenove" class="link-target">Členové</h1>
{/block}

{block mininav}
<li>
    <a href="#clenove">Členové</a>
</li>
{/block}


{block content}

{control examplesGrid}
{/block}